
body {
    /*padding-top: 56px;*/
}

p {
    margin-bottom: 1%;
    width: 100%;
}

.dropdown-menu.show {
    z-index: 5;
}

progress {
    background-color: #f3f3f3;
    border: 2px;
    height: 18px;
    border-radius: 19px;
}

progress::-webkit-progress-bar {
    background-color: #fff;
}
progress::-webkit-progress-value {
    background-color: #615c96;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.not_found {
    text-align: center;
    color: #615c96;
    font-size: 20pt;
}

.video-js .vjs-tech{ pointer-events: none; }
.bx-authform-social ul {display: inline-flex;}

.search-page {
    color: #615c96;
}

main:before {
    height: auto;
}