/* ------ Подключение шрифтов ------ */




/* ------ Specification ------ */

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0!important;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 0.02em;
	margin: 0;
	font-size: 14px;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 20px;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.3em;
}

a, a:hover, a:active {
	text-decoration: none;
	color: #ffffff;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
	box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

input {
	border-radius: 30px;
	border: 0;
}

aside {
	display: flex;
	align-items: center;
}

aside img {
	margin-right: 35px;
}
blockquote {
	margin: 0;
}
main {
	position: relative;
	background: url(../img/bg.png) no-repeat center top;
}
main:before {
    content: '';
     right: 0; 
    left: 0;
    top: -15px;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
    width: 1520px;
    background: url(../img/main_img.png);
    height: 100%;
    background-position: 50% -2%;
    background-repeat: no-repeat;
}
.main_page_content {
	padding-bottom: 50px;
}
.main_content {
	padding: 60px 0 200px;
}
.mb {
	margin-bottom: 125px;
}
.mb_1 {
	margin-bottom: 55px;
}
.container {
	width: 1170px;
}
/*
WEBSITE COMPONENTS

1. Logo
2. Buttons
3. Links
	3.1 Links menu
	3.2 Links network
4.Search
5.Video
6.Title
7.Forms
8.Input fields
9.Cards feedback
10.Cards subscribes
11.Content block
12.Video block
13. Footer
14. Pagination
15 Burger 
 */
/*----1. Logo-----*/
.logo {
	z-index: 0;
}
/*----2. Buttons-----*/
.btn {
	font-size: 18px;
	color: #ffffff;
	border: 1px solid;
	background: rgba(199,1,123,1);
	background: -moz-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(199,1,123,1)), color-stop(100%, rgba(255,210,46,1)));
	background: -webkit-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: -o-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7017b', endColorstr='#ffd22e', GradientType=1 );
	width: 261px;
	height: 58px;
	border-radius: 40px;
	box-shadow: 0 4px 4px rgba(0,0,0,.25);
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn:hover {
	color: #ffffff;
}
.auth {
	width: 134px;
	height: 30px;
	border-radius: 20px;
	margin-bottom: 15px;
}
/*----3.1 Links menu-----*/
.menu_link {
	font-size: 20px;
	line-height: 1em;
	position: relative;
}
.menu_link:hover::after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: #ffffff;
	position: absolute;
}
.menu_item .active::after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: #ffffff;
	position: absolute;
}
/*----3.1 Links network-----*/
.networks {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.network_link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: rgba(255,255,255,.9);
	color: #615C96;
}
.network_link:hover {
	color: #615C96;
}
.network_link:not(:first-child) {
	margin-left: 10px;
}
.lkUserLink {
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
}
/*----4. Search-----*/
.search {
    position: absolute;
    top: 82px;
	left: 0;
	right: 0;
	width: 554px;
	margin: 0 auto;
	height: 36px;
	z-index: 1;
}
.search input {
	width: 100%;
	border: 0;
	height: 100%;
	padding-left: 32px;
	padding-bottom: 5px;
	font-size: 14px;
}
.search input::placeholder {
	font-size: 14px;
}
.btn_search,.search img {
	position: absolute;
}
.btn_search {
	right: 27px;
	background: transparent;
	border: 0;
	box-shadow: none;
	bottom: 4px;
}
.btn_search:hover, .btn_search:focus, .btn_search:active {
	box-shadow: none;
}
.search img {
	left: 10px;
	bottom: 10px;
}
/*----6. Title-----*/

h1 {
	font-size: 72px;
	color: #FFF;
	margin-bottom: 29px;
}
h2 {
	font-size: 36px!important;
	text-align: center;
	font-weight: 400;
}
h3 {
	font-size: 26px!important;
	margin-bottom: 25px;
	font-weight: 500;
}
.h2 {
	margin-bottom: 27px;
}
/*----7. Form-----*/
.form_main {
	padding: 78px 100px 67px;
}
.form_about {
	margin-bottom: 65px;
	z-index: 1;
	position: relative;
}
.form_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
form input {
	height: 46px;
	width: 312px;
	padding-left: 19px;
	color: #615C96;
	font-size: 18px;
	z-index: 1;
}
form input::placeholder {
	color: #615C96;
}
.form p {
	width: 83%;
	text-align: center;
	display: block;
	margin: 0 auto 18px;
	font-size: 24px;
	line-height: 1.3em;
}
.modal-backdrop {
    display: none;
}
.modal.show .modal-dialog {
    top: 30%;
}
.modal-header .close span {
    color: #615C96;
    font-size: 64px;
    font-weight: 300;
    line-height: 0.5em;
}
.modal-header .close {
    padding: 0;
    margin: 0;
    box-shadow: none;
    color: #615C96;
    opacity: 1;
}
.modal-title {
    color: #615c96;
}
.modal-footer,
.modal-header {
    border: 0;
    justify-content: space-between;
}
.modal-body textarea {
    width: 100%;
    resize: none;
    height: 20em;
    background: rgba(255,255,255,.8);
    box-shadow: inset 0 4px 4px rgba(0,0,0,.25), 0 4px 10px 0 rgba(0,0,0,.05);
    color: #615C96;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 25px;
}
.modal-dialog {
    max-width: 1000px;
}
.modal {
    background: rgb(0, 0, 0,.4);
    padding: 0!important;
}
/*----11. Content block-----*/
.block_main {
	border-radius: 10px;
	overflow: hidden;
	background: #615c96;
	padding: 10px 45px 100px;
	position: relative;
}
.block_video {
	padding: 10px 45px 100px;
}
.block_content {
	position: relative;
	z-index: 1;
}
.block_content a {
	text-align: center;
	margin: 0 auto 13px;
	display: table;
	font-size: 14px;
	text-decoration: underline;
	/* line-height: 2em; */
}
.block_content p {
	line-height: 1.2em;
	letter-spacing: 0em;
}
.block_corners_top:before,
.block_main_corners:before {
	/*content: url('../img/corner_t.png');*/
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 0;
}
.block_corners_line:after {
	content: url('../img/corners_line.png');
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	margin: 0 auto;
    width: 100%;
    text-align: center;
}
.block_main_corners:after {
	content: url('../img/corner_b.png');
	position: absolute;
	bottom: 40px;
    left: 0;
    right: 0;
    z-index: 0;
    text-align: center;
}
/*----12. Video block-----*/
.v_block {
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.video_block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.video_text {
	width: 30%;
	text-align: center;
	margin-bottom: 60px;
}
.video_text p {
	font-size: 18px;
}

.v-wrapper {
	position: relative;
	cursor: pointer;
	padding: 0;
}
.v-wrapper img {
	width: 100%;
}
.v-wrapper:hover:after {
	transform: scale(0.95);
}
.v-wrapper:after {
	position: absolute;
	top: 77px;
	left: 102px;
}

.big_video video {
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.video,
.video_subscribe {
    width: 100%;
    border: 0;
    border-radius: 10px;
}
.wrap_video {
    display:table;
    width:auto;
    position:relative;
    width:100%;
}
.playpause {
    height: 95%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin:auto;
    background-size:contain;
    background-position: center;
}

/*----13. Footer-----*/
.footer_section {
	background: #615C96;
	padding: 18px 0;
	position: relative;
    overflow: hidden;
}
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.footer .ait_b {
    left: 0;
    bottom: -20px;
    transform: rotate(180deg);
    right: 0;
    margin: 0 auto;
    top: auto;
}
.footer .ait_m {
    right: 120px;
    bottom: auto;
    top: 70px;
}
.footer .ait_s {
    top: auto;
    left: 65px;
    bottom: 0;
}
.wrapMenuFooter {
    width: 100%;
}
.footer .menu {
	width: 50%;
	margin: 0 auto;
}
.sub_menu {
	display: flex;
	width: 95%;
	justify-content: space-between;
	margin: 25px 0 60px;
}
.copyright {
	font-size: 12px;
	margin-top: 20px;
	width: auto;
}
.n_footer {
	position: absolute;
	bottom: 3px;
	right: -5px;
}
.n_footer .network_link {
	width: 43px;
	height: 43px;
	font-size: 25px;
}
.n_footer .network_link:not(:first-child) {
	margin-left: 18px;
}
/*----14. Pagination-----*/
.pagination span {
	display: flex;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.5);
	background-image: url("../img/arrow_next.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.pagination .active {
	background: #ffffff;
}
.pagination {
	justify-content: space-between;
	width: 100px;
	margin: 0 auto;
    align-items: center;
}
.pagi_body {
	display: flex;
	justify-content: space-between;
	width: 85px;
}
.pagination a {
	text-decoration: none;
	font-size: 16px;
}
.pagination .active i {
    color: #615c96;
}



/*----14. Burger-----*/
.desktopMenu {
    width: 81%;
    display: flex;
    justify-content: space-between;
}
.burgerBtn,
.burgerBtn:hover,
.burgerBtn:focus,
.burgerBtn:active {
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
}
.burgerBtn {
    display: none;
}
.burgerBtn span {
    height: 4px;
    width: 38px;
    background: #ffffff;
    display: block;
    border-radius: 2px;
}
.burgerBtn span:nth-child(2) {
    margin: 5px 0;
}
.burgerMenu.show .modal-dialog {
    top: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    height: 100%;
}
.burgerMenu .modal-content {
    height: 100%;
    width: 50%;
    margin-left: auto;
    background: #615C96;
}
 .modal-body {
    background: #615C96;
}
.burgerMenu .btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    text-align: right;
    font-size: 21px;
}
.burgerMenu .auth {
    margin-left: auto;
}
.burgerMenu .menu,
.burgerMenu .sub_menu{
    z-index: 0;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    flex-direction: column;
    align-items: flex-end;
}
.burgerMenu .menu li,
.burgerMenu .sub_menu li {
    margin-top: 15px;
}





/* ----------------------------------------- Header section ------------------------------------------ */
.header_section {
	background: #615C96;
	padding: 5px 0;
	position: relative;
	z-index: 2;
}
.top_panel {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.ait_b,
.ait_m,
.ait_s {
	position: absolute;
}
.ait_b {
	left: -60px;
	top: -5px;

}
.ait_m {
	right: 120px;
	bottom: -65px;
}
.ait_s {
	top: -5px;
	left: 440px;
}
.logo img {
	width: 165px;
}
.menu {
	z-index: 0;
	justify-content: space-between;
	width: 70.5%;
	margin-left: 25px;
	padding-top: 4px;
}
.top_buttons {
	padding-top: 10px;
}


/* ----------------------------------------- Sheeva section ------------------------------------------ */
.sheeva_section {
	height: 835px;
	position: relative;
	overflow: hidden;
}
.big_ornament {
	position: absolute;
	left: 0;
	right: 0;
	top: -100px;
	margin: 0 auto;
}
.sheeva_block {
	padding-top: 68px;
}
.sheeva_img {
	display: block;
	margin: 0 auto ;
}

/* ----------------------------------------- Blockquote section ------------------------------------------ */
.blockquote {
	background: rgba(97,92,150,.8);
	padding: 30px 0;
	margin: 0;
}
.blockquote blockquote {
	margin: 0;
	font-size: 21px;
	line-height: 1.24em;
	width: 65%;
	letter-spacing: 0.03em;
}
.block_main_page {
	padding: 10px 45px 40px;
}
.block_main_page:before {
	content: url('../img/m_block_bg.png');
	position: absolute;
	bottom: -190px;
	left: -175px;
}
/* .block_main_page:after {
    content: url('../img/m_border.png');
    position: absolute;
    top: 45px;
} */

.main_aside {
	background: rgba(255,255,255,.8);
	border-radius: 10px;
	margin-top: 105px;
	color: #615C96;
    padding: 50px 45px;
	line-height: 1.9em;
	position: relative;
	overflow: hidden;
}
.main_aside img {
    position: absolute;
    width: 40%;
    left: -240px;
    opacity: .5;
}
.main_aside blockquote p:first-child {
	margin-bottom: 27px;
}
/* ------ About Page ------ */

.about_img {
	margin: 30px 0 65px;
}

/* ------ Feedback Page ------ */
.feedback_card {
	color: #615C96;
	background: #ffffff;
	padding: 10px 30px 20px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.feedback_card:not(:last-child) {
	margin-bottom: 50px;
}
.feedback_cards {
	/* margin-bottom: 135px; */
}
.feedback_card_top {
	margin-bottom: 10px;
	border-bottom: 2px solid #615C96;
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
}
.feedback_card_top div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.feedback_card_top h4 {
    line-height: 0em;
    margin: 0;
    margin-left: 15px;
}
/* .feedback_card_top div:after {
    content: '';
    display: block;
    height: 2px;
    width: 200%;
    background:#615C96;
    position: absolute;
    bottom: 0;
} */
.feedback_card span {
	margin-bottom: -5px;
}
.feedback_card_body {
	font-size: 20px;
}
.feedback_card_body a {
	color: #615C96;
	margin: 0;
	font-size: 16px;
	opacity: .8;
	text-decoration: none;
	border-bottom: 1px solid;
	line-height: 1em;
	margin-top: 35px;
}
.feedback_img {
	width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
}
.feedback_card_amount {
	display: block;
	text-align: end;
	font-size: 18px!important;
}
.feedback_img img {
    width: 100%;
}
/* ------ Subscribe Page ------ */
.sub_title {
	margin-bottom: 20px;
}
.subscribe_cards {
	display: flex;
	justify-content: space-around;
	color: #615C96;
	margin-bottom: 68px;
}
.sub_card {
	background: #fff;
	padding: 10px 21px 20px;
	border-radius: 10px;
	box-shadow: 0 0 25px rgba(0,0,0,.25);
	position: relative;
	overflow: hidden;
}
.sub_card:nth-child(2) {
	transform: scale(1.1);
	z-index: 1;
}
.sub_card p {
	font-size: 18px;
	line-height: 1.2em;
}
.sub_card_price {
	font-size: 18px;
	text-align: center;
	display: block;
	margin: 13px 0;
}
.sub_card a {
	font-size: 18px;
	height: 40px!important;
	padding: 0;
	width: 175px;
	text-decoration: none;
	margin: 0 auto;
}
.sub_card_marker {
	position: absolute;
	top: -36px;
	right: -59px;
	background: rgba(199,1,123,1);
	background: -moz-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(199,1,123,1)), color-stop(100%, rgba(255,210,46,1)));
	background: -webkit-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: -o-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	background: linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7017b', endColorstr='#ffd22e', GradientType=1 );
	color: #ffffff;
	font-size: 10px;
	transform: rotate(24deg);
	padding: 50px 50px 0;
}
.sub_card h4 {
	font-size: 23px;
}

/* ------ Contacts Page ------ */
.address_block {
	display: flex;
	align-items: center;
	margin-bottom: 70px;
}
.address_block p {
	font-size: 20px;
}
.address_block p span {
	font-size: 24px;
	display: block;
	line-height: 1.2em;
}
.map {
	border: 1px solid;
	border-radius: 10px;
	height: 305px;
	width: 555px;
	overflow: hidden;
	position: relative;
	margin-right: 35px;
}
.contact_network {
	margin-bottom: 70px;
}
.wrapper_link .network_link {
	width: 48px;
	height: 48px;
	font-size: 27px;
}
.contact_h2 {
	text-align: left;
	margin-bottom: 32px;
}
.wrapper_link {
	display: flex;
	align-items: center;
	font-size: 24px;
}
.wrapper_link:not(:last-child) {
	margin-bottom: 16px;
}
.wrapper_link .network_link {
	margin-right: 23px;
}
/* ------ Video Page ------ */
video {
    border-radius: 10px;
}

.big_video {
	width: 100%;
	height: 550px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}
.big_video img {
	width: 100%;
}
.big_video:after {
	/*content: url('../img/big_play.png');*/
	position: absolute;
	top: 43%;
	left: 43%;
}
.video_block_wrap {
	position: relative;
	margin-bottom: 90px;
}
.video_block_wrap span {
	position: absolute;
/*     font-size: 20px; */
}
.video_block p {
	margin-bottom: 50px;
}
.video_block .video_text p {
	 margin: 0;
 }
.video_block a {
	text-decoration: none;
    margin: 0;
    text-align: left;
    width: 100%;
}
.data_download {
	top: 10px;
	left: 0;
}
.available {
	top: 10px;
	right: 0;
}

/* ------ Coach Page ------ */
.coach {
/*     bottom: -40px; */
	left: 0;
	display: flex;
	align-items: center;
}
.view {
/*     bottom: -40px; */
	right: 0;
}
.coach a {
	margin: 0;
	text-decoration: none;
	line-height: 1em;
	border-bottom: 1px solid;
/*     font-size: 20px; */
}
.coach_block {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 30px;
}
.coach_about {
	display: flex;
	flex-direction: column;
}
.coach_about_top {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.coach_about_bottom {
	margin-top: auto;
}
.coach_img {
	margin-right: 58px;
	border-radius: 10px;
    overflow: hidden;
    width: 520px;
    height: 470px;
}
.coach_img img{
	width: 100%;
    object-fit: contain;
}
.coach_name {
	font-size: 48px;
	border-bottom: 2px solid;
	line-height: 1.3em;
	letter-spacing: 0em;
    margin-bottom: 5px;
}
.coach_about_bottom a,
.coach_quantityVideo,
.coach_block span {
	font-size: 20px;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 100;
}
a.coach_about_link {
	display: flex;
	align-items: center;
	margin: 17px 0 7px;
}
a.coach_about_link span {
	font-size: 18px;
	width: 31px;
	height: 31px;
	margin: 0;
	margin-right: 7px;
}
.coach_about_link img {
    margin-right: 7px;
}
/* ------ Registration Page ------ */
.reg_title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1em;
	margin-bottom: 40px;
}
.reg_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	margin: 0 auto 60px;
 	z-index: 1;
    position: relative;
}
.reg_form input {
	width: 100%;
	margin-bottom: 25px;
	background: rgba(255,255,255,.8);
	box-shadow: inset 0 4px 4px rgba(0,0,0,.25);
}
.enter_network {
	display: flex;
	justify-content: center;
}
.enter_network a {
	width: 60px;
	height: 60px;
	font-size: 30px;
}
.enter_network a:not(:first-child) {
	margin-left: 35px;
}
.reg_network {
	margin-bottom: 30px;
}

/* ------ Coach cabinet page start ------ */
.cabinet_section input,
.cabinet_section textarea,
.cabinet_section select {
	background: rgba(255,255,255,.8);
	box-shadow: inset 0 4px 4px rgba(0,0,0,.25);
	color: #615C96;
} 

.cabinet_section .upload h5 {
    font-size: 21px;
}
.cabinet_section h5 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
}
.cabinet_section .block_main {
    padding: 50px 50px 100px
}
#lk_img {
    width: 240px!important;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: auto;
    margin-top: 15px;
    height: 240px;
    overflow: hidden;
}
.custom-file-label {
    position: static;
    height: 70%;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0;
    margin-top: 10px;
    font-size: 12px;
    padding-right: 33px;
}
.changePass .form-group {
    margin-bottom: 25px;
}
.exitBtnBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exitBtnBlock a {
    font-weight: 500;
}
.custom-file-label img {
    margin-right: 10px;		
}
.custom-file-label:after {
	display: none;
}
.custom-file-input {
    position: absolute;
    opacity: 0;
}
.custom-file {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.lk_form {
	width: 295px;
    margin: 0;	
    align-items: flex-start;
}
.lk_form input {
    height: 38px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.cabinet_section{
    font-weight: 100;
    font-size: 18px;
}
.lk_form label {
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 5px;
}
.lk_contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.lk_contacts .form-group {
	width: 275px;
    justify-content: flex-end;
}
.lk_contacts .form-group label {
    margin-right: 15px;
}
.lk_contacts .form-group input {
    width: 100%;
    border-radius: 50px;
    height: 38px;
    color: #615C96;
}
.cabinet_section textarea {
    width: 100%;
    resize: none;
    border-radius: 10px;
    color: #615C96;
    padding: 15px;	
    background: #fff;
    min-height: 520px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.08em;
}
.upload_form input,
.upload_form select {
	width: 454px;
    height: 48px;
    padding-left: 25px;
    border-radius: 50px;
    color: #615C96;
}
.upload_form select {
	margin-bottom: 15px;
}
.upload_form input:nth-child(2) {
    margin-bottom: 30px;
}
.custom-control-label {
    font-size: 21px;
}
#videoFile {
    background: transparent;
    box-shadow: none;
    font-size: 14px;
    position: relative;
    z-index: 0;
    margin-left: 35px;
    color: #fff;	
}
#videoFile:after {
    content: '';
    display: block;
    background: #615c96;
    height: 30px;
    width: 150px;
    top: 0;
    left: 10px;
    position: absolute;
}
.upload_label {
    position: absolute;
    background: #fff;
    color: #615C96;
    width: 130px;
    height: 29px;
    border-radius: 15px;
    top: 0;
    display: flex;
    justify-content: center;
    font-size: 11px;
    align-items: center;
    margin: 0;
    left: 210px;
    z-index: 1;		
}
progress {
    opacity: 0;
}
.custom-control-label::before,
.custom-control-label::after {
    right: -1.5rem;
    left: auto;
}
.custom-control {
    padding-right: 4.5rem;
    padding-left: 0;
    margin-bottom: 30px;
}
.custom-control-label::after {
    background: rgba(255,255,255,.8);
    box-shadow: inset 0 4px 4px rgba(0,0,0,.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.custom-control-label::before {
	border: 0;
	background: transparent;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #615c96;
    background-color: #615c96;
    z-index: 1;
    width: 12px;
    height: 12px;
    top: 8px;
    right: -20px;
}

.gender_form .custom-control {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
}
.gender_form {
    display: flex;
    width: 287px;
    justify-content: space-between;
    background: rgba(255,255,255);
    height: 37px;
    border-radius: 40px;
    box-shadow: inset 0 4px 4px rgba(0,0,0,.25);
    margin: 0 auto;
     
}

/* Hide the browser's default radio button */
.gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-weight: 600;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 1px;
	left: 1px;
  height: 34px;
  width: 141px;
  border-radius: 40px;
  font-size: 18px;
  color: rgba(97,92,150,.5);
  display: flex;
  justify-content: center;
  align-items: center;
      margin-left: 0!important;
      cursor: pointer;
      font-weight: 500;
}
.gender_form .custom-control-input:checked~.custom-control-label::before,
.gender_form .custom-radio .custom-control-label::before {
	opacity: 0;
}
/* On mouse-over, add a grey background color */
/* .gender:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
.gender input:checked ~ .checkmark {
    color: #fff;
    border: 1px solid;
    background: rgba(199,1,123,1);
    background: -moz-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(199,1,123,1)), color-stop(100%, rgba(255,210,46,1)));
    background: -webkit-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
    background: -o-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
    background: linear-gradient(45deg, rgba(199,1,123,1) 0%, rgba(255,210,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7017b', endColorstr='#ffd22e', GradientType=1 );
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-weight: 600;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}
/* ------ Coach cabinet page start ------ */

/* ------ Media Queries ------ */

@media screen and (max-width: 1550px) {
    main:before {
        width: 100%;
    }
	
}


/* 992-1200px */
@media screen and (max-width: 1200px) {
    .form_main {
        padding: 78px 0 67px;
    }
    .block_main_page:after {
    	display: none;
    }
    .block_content img {
        width: 100%;
    }
    .form p,
    .blockquote blockquote,
    p {
        font-size: 17px;
    }
    .sub_card p {
        font-size: 14px;
    }
    .sub_card_marker {
        top: -40px;
        right: -59px;
        font-size: 6px;
    }
    video {
        width: 100%;
    }
	.big_video {
        height: auto;
	}
	.block_main {
        padding: 10px 45px 100px;
	}
	.coach_about_bottom img {
        width: auto;
    }
}

/* 768-992px */
@media screen and (max-width: 992px) {
    main:before,
    .sheeva_section,
    .desktopMenu {
        display: none;
    }
    .burgerBtn {
        display: block;
    }
    .form_main {
        padding: 40px 0;
        color: #615c96;
    }
    .form_items {
        flex-direction: column;
    }
    .form_items input:not(:last-child) {
        margin-bottom: 15px;
    }
    h1 {
        font-size: 45px;
    }
    .video_block {
        justify-content: space-around;
    }
    .video_text {
        width: 49%;
    }
    .video_block .container, 
    .main_section .container,
    .main_page_content .main_section .container {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .main_content {
        padding: 60px 0;
    }
    .main_aside {
        padding: 50px;
        margin-top: 60px;
    }
    .block_main_page {
        padding: 10px 50px 40px;
    }
    .container {
        max-width: 95%;
    }
    
    .wrapMenuFooter {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer .menu {
        flex-direction: column;
    }
    .sub_menu {
        margin: 0;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer .menu_item {
        margin-bottom: 10px;
    }
    .menu {
        padding: 0;
    }
    .mb {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 22px!important;
    }
    .form p, .blockquote blockquote, p {
        font-size: 15px;
    }
    .about_img {
        margin: 30px 0 20px;
    }
    .video_text {
        margin-bottom: 15px;
    }
    
    .title_bigVideo {
        margin-top: 40px;
    }
    .cabinet_section .row {
        margin: 0;
    }
    

}
@media screen and (max-width: 900px) {
    .coach_block {
        flex-direction: column;
    }
}
/* 576-768px */
@media screen and (max-width: 768px) {
    aside img,
    .search,
    .block_main_corners:after {
        display: none;
    }
    .header_section {
    	overflow: hidden;
    }
    .blockquote blockquote {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .form_items {
        align-items: flex-start;
    }
    h1 {
        font-size: 25px;
    }
    .block_main_page {
        padding: 10px 10px 40px;
    }
    .main_aside {
        padding: 50px 10px;
        margin-top: 35px;
    }
    .video_block {
        flex-direction: column;
    }
    .video_text {
        width: 100%;
    }
    .sub_menu,
    .footer .menu {
        width: 100%;
    }
    .copyright {
        margin-top: 72px;
    }
    .n_footer {
        position: absolute;
        bottom: 30px;
        right: 0;
        left: 0;
        justify-content: center;
    }
    .block_main  {
        padding: 10px 30px 100px;
    }
    
    .block_main {
        padding: 10px 10px 100px;
    }
    .subscribe_cards {
            flex-direction: column;
    }
    .address_block {
        flex-direction: column;
    }
    .columnLk {
        flex-direction: column-reverse;
    }
    #lk_img {
        margin: 0 auto;
    }
    .custom-file-label {
        padding-right: 0;
        justify-content: center;
    }
    .imageUserLk {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 630px) { 
    .corner {
        width: 100%;
    }
    .cabinet_section .block_main {
        padding: 50px 10px 100px;
    }
}
/* 320-576px */
@media screen and (max-width: 576px) {
    .l_footer img {
        width: 100%;
    }
   .copyright {
        font-size: 8px;
    }
    .form_items input {
        width: 100%;
    }
    .coach_img {
        width: 80%;
        height: 320px;
        margin: 0 auto;
    } 

}


@media screen and (max-width: 500px) {
    .burgerMenu .modal-content {
        width: 100%;
    }
    .feedback_card_top {
        margin-bottom: 30px;
        position: relative;
    }
    .feedback_card span {
        margin-bottom: 0;
        position: absolute;
        bottom: -25px;
    }
    .feedback_card_body {
        font-size: 14px;
    }
    .video_block_wrap span {
        font-size: 12px;
    }
    .data_download,
    .available {
        top: 20px;
    }
    .lk_form,
    .upload_form input, .upload_form select {
        width: 100%;
    }
    .lk_contacts .form-group {
        flex-direction: column;
    }
    .lk_contacts {
        margin-bottom: 0;
    }
    .cabinet_section textarea {
        font-size: 14px;
        min-height: 300px;
    }
    .w-25 {
        width: 100%!important;
    }
    .custom-file {
        font-size: 12px;
    }
    .upload_label {
        left: 140px;
    }
    #videoFile {
        opacity: 0;
    }
    .exitBtnBlock {
        flex-direction: column;
    }
    .exitBtnBlock a {
        font-weight: 500;
        margin-top: 25px;
    }
    .coach_img {
        width: 100%;
    } 
}